@model AppWeb.Models.IndexViewModel
@{
    ViewBag.Title = "إعدادات حسابك";

}
@using AppWeb.Models;
@using Microsoft.AspNet.Identity;


<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>تغيير إعدادات حسابك</h4>
    <hr />
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">الاسم بالكامل </label>
            <div class="col-md-10">
                <input disabled type="text" id="FullName" name="FullName" value="@User.Identity.FullName()" class="form-control" />
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-2">
                رقم جوال
            </label>
            <div class="col-md-10">
                <input disabled type="text" id="PhoneNumber" name="PhoneNumber" value="@User.Identity.NumberMobie()" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                مدينة
            </label>
            <div class="col-md-10">
                <input disabled type="text" id="City" name="City" value="@User.Identity.City()" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">حي</label>
            <div class="col-md-10">
                <input disabled type="text" id="District" name="District" value="@User.Identity.District()" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">شارع</label>
            <div class="col-md-10">
                <input disabled type="text" id="Street" name="Street" value="@User.Identity.Street()" class="form-control" />
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-default" href="~/Account/Edit/@User.Identity.GetUserId()">تحديث</a>
            </div>
        </div>
    </div>
</div>
    <dl class="dl-horizontal">
        <dt>كلمة المرور:</dt>
        <dd>
            
            @if (Model.HasPassword)
            {
                @Html.ActionLink("تغير كلمة المرور ", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("أنشاء كلمة المرور ", "SetPassword")
            }
            
        </dd>
    </dl>

